<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <button type="button "class="round-button"><a style="text-decoration:none" ; href="/" ><</a></a></button>
    <script>
        function goBack() {
          window.history.back();
        }
    </script>
<br><br><br><br><br><br>
 <div class="container">
    <center>   <h1>Submit Multiple files</h1>    </center>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{url_for('predict_rf_model_feature_10_batch_files')}}" method="POST" enctype="multipart/form-data">
        <center>
        <div class="custom-file">
        <table>
            <tr>
                <td align="right"><b>Path : </b></td><td><input type="text" required="required" name="path" id="path" placeholder="Data/Batch_Files/Predicting_Files/"></td>
            </tr>
        </table>
        <br>
        <button type="submit" class="btn">Submit</button>
            <br> <br>
        </center>
    </form>
   <br>
   <br>
 </div>


</body>
</html>
