<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
    <center>
        <h1>Student Churn Analysis</h1>
    </center>

 <div class="login">

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_rf_model_feature_10')}}" method="POST">
        <center>
        <table>
            <tr>
                <td>
                    <input type="date" required="required" name="start_date"     id="start_date"    placeholder="Start_Date" >
                </td>
                <td>
                    <input type="date" required="required" name="end_date"       id="end_date"      placeholder="End_Date" >
                </td>
            </tr>

        </table>
        <br>
        <table>
            <tr>
                <td>
                    <input type="text" required="required" name="access"         id="access"        placeholder="Access"><br>
                    <input type="text" required="required" name="discussion"     id="discussion"    placeholder="discussion"><br>
                    <input type="text" required="required" name="navigate"       id="navigate"      placeholder="navigate"><br>
                    <input type="text" required="required" name="problem"        id="problem"       placeholder="problem"><br>
                </td>
                <td>
                    <input type="text" required="required" name="page_close"        id="page_close"       placeholder="page_close"><br>
                    <input type="text" required="required" name="video"           id="video"          placeholder="video"><br>
                    <input type="text" required="required" name="wiki"           id="wiki"          placeholder="wiki"><br>

                </td>

            </tr>
        </table>
        <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

        </center>
    </form>
   <br>
   <br>
 </div>


</body>
</html>
