<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
    <center>
        <h1>Student Churn Analysis</h1>
    </center>

 <div class="login">

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_rfc_log_norm_scale')}}" method="POST">
        <center>
        <table>

            <tr>
                <td align="center">start_date </td> <td align="center">end_date</td>
            </tr>
            <tr>
                <td><input type="date" required="required" name="start_date"     id="start_date"    placeholder="02-12-2020" ></td>
                <td><input type="date" required="required" name="end_date"       id="end_date"      placeholder="03-12-2020" ></td>
            </tr>

        </table>
        <br>
        <table>
            <tr>
                <td align="right">present_days</td> <td><input type="text" required="required" name="present_days"   id="present_days"  placeholder="ex: 2"></td>
            </tr>
            <tr>
                <td align="right">access</td> <td><input type="text" required="required" name="access"         id="access"        placeholder="ex: 8"></td>
            </tr>
            <tr>
                <td align="right">discussion</td> <td><input type="text" required="required" name="discussion"     id="discussion"    placeholder="ex: 0"></td>
            </tr>
            <tr>
                <td align="right">navigate</td> <td><input type="text" required="required" name="navigate"       id="navigate"      placeholder="ex: 6"></td>
            </tr>
            <tr>
                <td align="right">problem</td> <td><input type="text" required="required" name="problem"        id="problem"       placeholder="ex: 0"></td>
            </tr>
            <tr>
                <td align="right">wiki</td> <td><input type="text" required="required" name="wiki"           id="wiki"          placeholder="ex: 0"></td>
            </tr>
        </table>
        <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

        </center>
    </form>
   <br>
   <br>
 </div>


</body>
</html>
