<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
     <center>
	<h1>Select the Pickle Method</h1>

     <!-- Main Input For Receiving Query to our ML -->
   <br>
   <br>
    <div>
        <button type="button "> <a href="/home_rfc_mim" >home_rfc_mim</a> </button>
        <button type="button "> <a href="/home_rf_model_feature_10" >home_rf_model_feature_10</a> </button>
    </div>
     </center>
 </div>

</body>
<br>
</html>
