<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    /* width */
    ::-webkit-scrollbar {width: 10px;}

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    </style>
</head>

<body>
    <h1>This is student churn analysis</h1>
 <div class="login">

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_rfc_mim')}}" method="POST">
        <table>
            <tr>
                <td>
                    <input type="date" required="required" name="start_date"     id="start_date"    placeholder="Start_Date" >
                </td>
                <td>
                    <input type="date" required="required" name="end_date"       id="end_date"      placeholder="End_Date" >
                </td>
            </tr>

        </table>
        <table>
            <tr>
                <td>
                    <input type="text" required="required" name="access"         id="access"        placeholder="Access"><br>
                    <input type="text" required="required" name="discussion"     id="discussion"    placeholder="discussion"><br>
                    <input type="text" required="required" name="navigate"       id="navigate"      placeholder="navigate"><br>
                    <input type="text" required="required" name="problem"        id="problem"       placeholder="problem"><br>
                    <input type="text" required="required" name="wiki"           id="wiki"          placeholder="wiki"><br>
                    <input type="text" required="required" name="present_days"   id="present_days"  placeholder="present_days"><br>
                    <input type="text" required="required" name="effective_time" id="effective_time" placeholder="effective_time"><br>
                    <input type="text" required="required" name="Monday"         id="Monday"        placeholder="Monday"><br>
                    <input type="text" required="required" name="Tuesday"        id="Tuesday"       placeholder="Tuesday"><br>
                </td>
                <td>
                    <input type="text" required="required" name="Wednesday"      id="Wednesday"     placeholder="Wednesday"><br>
                    <input type="text" required="required" name="Thursday"       id="Thursday"      placeholder="Thursday"><br>
                    <input type="text" required="required" name="Friday"         id="Friday"        placeholder="Friday"><br>
                    <input type="text" required="required" name="Saturday"       id="Saturday"      placeholder="Saturday"><br>
                    <input type="text" required="required" name="Sunday"         id="Sunday"        placeholder="Sunday"><br>
                    <input type="text" required="required" name="holidays"       id="holidays"      placeholder="holidays"><br>
                    <input type="text" required="required" name="course_enroll"  id="course_enroll" placeholder="course_enroll"><br>
                    <input type="text" required="required" name="user_enroll"    id="user_enroll"   placeholder="user_enroll"><br>
                    <input type="text" required="required" name="course_drop_rate" id="course_drop_rate" placeholder="course_drop_rate"><br>
                </td>
            </tr>
        </table>






        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br>
   <br>
 </div>


</body>
</html>
