<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <button type="button "class="round-button"><a style="text-decoration:none"; href="/" ><</a></a></button>
    <script>
        function goBack() {
          window.history.back();
        }
    </script>
    <div class="container"><center><h1>Student Churn Analysis</h1><br></center></div>
 <div class="container">

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_rf_model_feature_10_single_data')}}" method="POST">
        <center>
            <br>
        <table>

            <tr>
                <td align="center">Start Date </td> <td align="center">End Date</td>
            </tr>
            <tr>
                <td><input type="date" required="required" name="start_date"     id="start_date"></td>
                <td><input type="date" required="required" name="end_date"       id="end_date"  ></td>
            </tr>

        </table>
        <table>
            <tr>
                <td align="right">Access</td> <td><input type="number" required="required" name="access"         id="access"        placeholder="ex: 314, 185"></td>
            </tr>
            <tr>
                <td align="right">Discussion</td> <td><input type="number" required="required" name="discussion"     id="discussion"    placeholder="ex: 16, 70"></td>
            </tr>
            <tr>
                <td align="right">Navigate</td> <td><input type="number" required="required" name="navigate"       id="navigate"      placeholder="ex: 18, 36"></td>
            </tr>
            <tr>
                <td align="right">Page Close</td> <td><input type="number" required="required" name="page_close"      id="page_close"      placeholder="ex: 79, 124"></td>
            </tr>
            <tr>
                <td align="right">Problem</td> <td><input type="number" required="required" name="problem"        id="problem"       placeholder="ex: 309, 36"></td>
            </tr>
            <tr>
                <td align="right">Video</td> <td><input type="number" required="required" name="video"        id="video"       placeholder="ex: 90, 50"></td>
            </tr>
            <tr>
                <td align="right">Wiki</td> <td><input type="number" required="required" name="wiki"           id="wiki"          placeholder="ex: 1, 2"></td>
            </tr>
        </table>

        <button type="submit" class="btn">Predict</button>

        </center>
    </form>
   <br>
   <br>
 </div>


</body>
</html>
