<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>


    <button type="button" class="round-button" onclick="goBack()">⬅ </button>
    <script>
        function goBack() {
          window.history.back();
        }
    </script>

<br><br><br><br><br><br>
 <div class="container">
     <center>
         <h1>Submit single file</h1>
     </center>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{url_for('predict_rf_model_feature_10_single_file')}}" method="POST" enctype="multipart/form-data">
        <center>
        <div class="btn-2">
        <table>
            <tr>
                <td><input type="file" name="in_file" id="in_file" required="required" class="btn-2" ></td>
            </tr>
        </table>
        <br>
        <button type="submit" class="btn">Submit</button>
            <br> <br>
        </center>
    </form>
   <br>
   <br>
 </div>


</body>
</html>
